body {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

header {
    background: #9212a1;
    margin: 0;
}

#topmenu {
    margin: 0;
    display: flex;
}

#topmenu li {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#topmenu li:first-child {
    margin-right: auto;
}

#principal {
    height: 609px;
    margin: 0 auto;
    text-align: center;
    background:#b42ac9;
}

.foto {
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
    padding-top: 170px;
}

h1 {
    color: white;
    margin: 0;
    padding-top: 5px;
}

button {
    margin: 15px;
    width: 100px;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #9212a1;
    color: white;
}

#projetos {
    height: 609px;
    position: relative;
    padding-left: 250px;
    padding-right: 60px;
    padding-bottom: 200px;
    display: flex;
    font-size: 18px;
}

.section2 {
    display: flex;
    height: 609px;
    background: #c24ecf;
}

.imagemprojeto {
    height: auto;
    padding-top: 170px;
    padding-left: 50px;   
}

.listaprojeto {
    color: white;
    padding-top: 150px;
}

li {
    padding-bottom: 15px;
}

.section3 {
    display: flex;
    height: 609px;
    background: #c879d1;
}

.imagemprojeto2 {
    height: auto;
    padding-top: 170px;
    padding-left: 50px;   
}

.section4 {
    display: flex;
    height: 609px;
    background:#d59edb;
}









